In [1]:
import numpy as nu

In [2]:
nu.array([1,2,3])

array([1, 2, 3])

In [3]:
nu.array([1,2,3], dtype=str)

array(['1', '2', '3'], dtype='<U1')

In [4]:
nu.array([1,2,3], dtype=float)

array([1., 2., 3.])

In [5]:
nu.array([1,2,3], dtype= nu.int8)

array([1, 2, 3], dtype=int8)

In [6]:
nu.array([1,2,3], dtype=nu.float32)

array([1., 2., 3.], dtype=float32)

In [7]:
myTable = nu.array([32,45,68,54])
myTable

array([32, 45, 68, 54])

In [8]:
len(myTable)

4

In [9]:
myTable.shape

(4,)

In [10]:
myTable.dtype

dtype('int64')

In [11]:
myTable[0]

32

In [12]:
myTable[:2]

array([32, 45])

In [13]:
myTable[1:3]

array([45, 68])


### Create a python numpy array that will contain the
### numbers from 1 to 50. But replace the values with
### "fizz" for all clues greater than 3, by "buzz"...
### for all multiples of 5, and by "fizzbuzz" for the
### multiples of 15. Display the final tableau!

In [16]:
arrayFizzbuzz = nu.arange(51)

In [17]:
arrayFizzbuzz

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50])

In [19]:
fizzbuzz = nu.array(['fizzbuzz']*50)

for i in nu.arange(1,50,1):
    fizz = i%3==0
    buzz = i%5==0
    fizzbuzz[i-1] = str(i)
    if fizz:
        fizzbuzz[i-1] = 'fizz'
    if fizz:
        fizzbuzz[i-1] = 'buzz'
    if fizz:
        fizzbuzz[i-1] = 'fizzbuzz'
fizzbuzz

array(['1', '2', 'fizzbuzz', '4', '5', 'fizzbuzz', '7', '8', 'fizzbuzz',
       '10', '11', 'fizzbuzz', '13', '14', 'fizzbuzz', '16', '17',
       'fizzbuzz', '19', '20', 'fizzbuzz', '22', '23', 'fizzbuzz', '25',
       '26', 'fizzbuzz', '28', '29', 'fizzbuzz', '31', '32', 'fizzbuzz',
       '34', '35', 'fizzbuzz', '37', '38', 'fizzbuzz', '40', '41',
       'fizzbuzz', '43', '44', 'fizzbuzz', '46', '47', 'fizzbuzz', '49',
       'fizzbuzz'], dtype='<U8')

In [20]:
def enigma():
    tab = nu.array([41,16,10,8,2])
    position = nu.argmin(tab)
    tab = nu.sort(tab)
    return nu.min(tab)+tab[position]

In [22]:
enigma()

43

In [23]:
def secret():
    tab = nu.array([k*5 for k in range(10)])
    tab = tab[tab<25]
    return nu.mean(tab)+len(tab)

In [24]:
secret()

15.0

In [25]:
tab = nu.array([k*5 for k in range(10)])

In [26]:
tab

array([ 0,  5, 10, 15, 20, 25, 30, 35, 40, 45])

In [27]:
tab1 = tab[tab<25]

In [28]:
tab1

array([ 0,  5, 10, 15, 20])

In [29]:
tab<25

array([ True,  True,  True,  True,  True, False, False, False, False,
       False])

In [30]:
nu.mean(tab1)

10.0

In [31]:
len(tab1)

5